<div class="container py-5">
  <h2 class="mb-4 text-center">Panel de Administración: Etiqueta</h2>

  <!-- Formulario -->
  <div class="card mb-4 shadow">
    <div class="card-body">
      <form id="formRelacion" method="POST" action="{% url 'Etiquetas' %}">
        {% csrf_token %}
        <div class="row g-3">
          <div class="col-md-6">
            <label for="etiqueta" class="form-label">Etiqueta</label>
            <input type="text" name="etiqueta" class="form-control" id="etiqueta" placeholder="Adobe" required>
          </div>
        </div>
        <div class="mt-4 text-end">
          <button type="submit" class="btn btn-primary">Agregar etiqueta</button>
        </div>
      </form>
    </div>
  </div>

  <div class="card shadow">
    <div class="card-body">
      <h5 class="card-title">Etiquetas existentes</h5>
      <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle" id="tablaRelaciones">
          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for etiqueta in etiquetas %}
              <tr>
                <td> {{ etiqueta.ID_ETIQUETA }} </td>
                <td> {{ etiqueta.NOMBRE }} </td>
                <td>
                  <button class="btn btn-sm btn-warning me-2">Editar</button>
                  <button class="btn btn-sm btn-danger">Eliminar</button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>