<div class="container py-5">
  <h2 class="mb-4 text-center">Panel de Administración: Sede</h2>

  <!-- Formulario -->
  <div class="card mb-4 shadow">
    <div class="card-body">
      <form id="formSede" method="POST" action="{% url 'Sede' %}">
        {% csrf_token %}
        <div class="row g-3">
          <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre de la sede</label>
            <input type="text" name="nombre" class="form-control" id="nombre" placeholder="PLAZA OESTE" required>
          </div>
        </div>
        <div class="mt-4 text-end">
          <button type="submit" class="btn btn-primary">Agregar Sede</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Tabla de relaciones -->
  <div class="card shadow">
    <div class="card-body">
      <h5 class="card-title">Sedes existentes</h5>
      <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle" id="tablaRelaciones">
          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>Nombre Sede</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for sede in sedes %}
              <tr>
                <td> {{ sede.ID_SEDE }} </td>
                <td> {{ sede.NOMBRE_SEDE }} </td>
                <td>
                  <button class="btn btn-sm btn-warning"  data-bs-toggle="modal" data-bs-target="#modalEditar{{ sede.ID_SEDE }}">Editar</button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



{% for sede in sedes %}
<div class="modal fade" id="modalEditar{{ sede.ID_SEDE }}" tabindex="-1" aria-labelledby="modalLabel{{ sede.ID_SEDE }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <form method="POST" action="{% url 'Sede' %}">
        {% csrf_token %}
        <input type="hidden" name="accion" value="editar">
        <input type="hidden" name="id_sede_editar" value="{{ sede.ID_SEDE }}">

        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel{{ sede.ID_CARRERA }}">Editar Sede</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Nombre actual</label>
            <input type="text" class="form-control" value="{{ sede.NOMBRE_SEDE }}" disabled>
          </div>
          <div class="mb-3">
            <label class="form-label">Nuevo nombre</label>
            <input type="text" name="nuevo_nombre" class="form-control" required>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-warning">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}
