.portada{
  background-image: url(../img/portada_proyecto_1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
