{% load static %}
<div class="ps-5 pb-3">
  <h2 style="font-size: 36px; font-weight: 700;">EDITAR PERFIL</h2>
</div>
<form class="ps-5 pe-5" method="POST" enctype="multipart/form-data" action="{% url 'EditarPerfil' %}">
  {% csrf_token %}
  <div class="row">
    <!-- Primera columna -->
    <div class="col-6">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" name="nombre" class="form-control" id="nombre" value="{{ usuario.NOMBRE }}">
      </div>
      <div class="mb-3">
        <label for="correo" class="form-label">Correo electrónico</label>
        <input type="email" name="correo" class="form-control" id="correo" value="{{ usuario.CORREO }}">
      </div>
      <div class="mb-3">
        <label for="foto-perfil" class="form-label">Foto de perfil</label>
        <input type="file" class="form-control" id="foto-perfil" name="foto_perfil">
      </div>
      <div class="mb-3">
        <label for="intereses" class="form-label">Intereses</label>
        <select class="form-control" id="intereses" name="intereses" value="{{ usuario.INTERESES }}" multiple>
          <option>Desarrollo Web</option>
          <option>IoT</option>
          <option>Inteligencia Artificial</option>
          <option>Aplicaciones móviles</option>
          <option>Videojuegos</option>
          <option>Blockchain</option>
        </select>
      </div>
    </div>
    <!-- Segunda columna -->
    <div class="col-md-6">
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" name="apellido" class="form-control" id="apellido" value="{{ usuario.APELLIDO }}">
      </div>
      <div class="mb-3">
        <label for="contrasena" class="form-label">Contraseña</label>
        <input type="password" name="contrasena" class="form-control" id="contrasena" placeholder="********">
      </div>
      <div class="mb-3">
        <label for="foto_portada" class="form-label">Foto de portada</label>
        <input type="file" class="form-control" id="foto_portada" name="foto_portada">
      </div>
    </div>
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-warning fw-bold text-dark"
      style="background-color: #FFB800;">Editar perfil</button>
  </div>
</form>