{% load static %}
<div class="d-flex justify-content-between align-items-center ps-5 pb-3" style="padding-right: 110px;">
  <h2 style="font-size: 36px; font-weight: 700;">MIS PROYECTOS</h2>
  <a href="{% url 'SubirProyecto' %}" class="btn" style="font-size: 20px; font-weight: 700; background-color: #FFB800; border-radius: 5px;">
    PUBLICAR PROYECTO
  </a>
</div>
<div class="row ps-5">
  {% for proyecto in proyectos %}
    <div class="col-3 pb-3">
      <div class="d-flex align-items-center">
        <div class="vertical-text d-flex justify-content-start align-items-center pb-3" style="background-color: #5BC2E7;">
          {{ proyecto.NOMBRE_PROYECTO }}
        </div>

        <img src="{{ proyecto.FOTO_PROYECTO }}" alt="Foto" class="img-fluid" style="height: 292px; cursor: pointer;"
           onclick="verProyecto({{ proyecto.ID_PROYECTO }})">
      </div>
    </div>
  {% endfor %}
  
</div>