{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto</title>
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <!--Font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <!--CSS-->
  <link rel="stylesheet" href="{% static 'css/proyectos-detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/nav-footer.css' %}">
</head>
<body>
  <header class="header">
    <nav class="navbar navbar-expand-lg custom-nav">
      <div class="container-fluid p-0 bg-white">
        <div class="d-flex align-items-center">
          <a href="{% url 'Home' %}">
            <img src="{% static 'img/logo_colabb.png' %}" alt="Logo" height="76px" class="d-inline-block align-text-top">
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse color logo-container" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-5">
            <li class="nav-item" style="padding-left: 40px;">
              <a class="nav-link text-white" aria-current="page" href="{% url 'Proyectos' %}" style="font-size: 24px;">PROYECTOS</a>
            </li>
            <li class="nav-item" style="padding-left: 25px;">
              <a class="nav-link text-white" href="{% url 'Escuelas' %}" style="font-size: 24px;">ESCUELAS</a>
            </li>
          </ul>
          <div class="d-flex flex-column align-items-end">
            {% if request.session.usuario %}
              <a href="{% url 'Logout' %}" class="btn-custom text-white" type="button" style="text-decoration: none; font-size: 18px;">CERRAR SESIÓN</a>
              <a href="{% url 'Perfil' %}" class="btn-custom text-white" type="button" style="background-color: #FFB800; text-decoration: none; font-weight: 700; font-size: 18px;">MI PERFIL</a>
            {% else %}
              <a href="{% url 'Login' %}" class="btn-custom text-white" type="button" style="text-decoration: none; font-size: 18px;">INICIAR SESIÓN</a>
              <a href="{% url 'Signup' %}" class="btn-custom text-white" type="button" style="background-color: #FFB800; text-decoration: none; font-weight: 700; font-size: 18px;">REGISTRARSE</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main class="container-fluid bg-light" style="height: 539px;">
    <div class="row justify-content-start align-items-center h-100 px-5 portada">
      <div class="col-12 text-center">
        <h1 class="display-4 text-white" style="font-size: 96px; font-weight: 400;">{{ detalle_proyectos.TITULO }}</h1>
      </div>
    </div>
  </main>

  <section class="container pb-5">
    <div class="row justify-content-start align-items-center pt-5">
      <div class="col-12 text-start">
        <p style="font-size: 24px; font-weight: 400;">NOMBRE DEL PROYECTO</p>
        <h2 style="font-size: 48px; font-weight: 700;">{{ detalle_proyectos.NOMBRE_PROYECTO }}</h2>
      </div>
    </div>
    <div class="row justify-content-start align-items-center pt-4">
      <div class="col-12 text-start">
        <p class="text-start" style="font-size: 24px; font-weight: 400;">{{ detalle_proyectos.DESCRIPCION }}</p>
      </div>
    </div>
    <div>
      <img src="{{ detalle_proyectos.FOTO_PROYECTO }}" alt="imagen" style="height: 410px; width: 100%;">
    </div>
    <div class="row justify-content-start align-items-center pt-4">
      <div class="col-12 text-start">
        <p style="font-size: 24px;"><strong>Integrantes: </strong>
          {% for integrante in integrantes %}
            <li style="font-size: 24px;">{{ integrante.nombre_completo }}</li>
          {% endfor %}
          </p>
        <p style="font-size: 24px;"><strong>Sede: </strong>{{ detalle_proyectos.SEDE.NOMBRE_SEDE }}</p>
        <p style="font-size: 24px;"><strong>Carrera: </strong>{{ detalle_proyectos.CARRERA_DESTINO }}</p>
      </div>
    </div>
    <div class="row justify-content-start align-items-center pt-4">
      <div class="col-12 text-start">
        <h2 style="font-size: 40px; font-weight: 700;">REQUISITOS</h2>
        <hr>
        <p style="font-size: 24px;">{{ detalle_proyectos.REQUISITOS }}</p>
    </div>
    <div class="row justify-content-start align-items-center pt-4">
      <div class="col-12 text-start">
        <h2 style="font-size: 40px; font-weight: 700;">CONTÁCTANOS</h2>
        <hr>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}  
          <input type="hidden" name="id_proyecto" value="{{ detalle_proyectos.ID_PROYECTO }}">
          <div class="mb-3">
            <textarea name="comentario" class="form-control" id="textArea1" rows="6" maxlength="3000" placeholder="Indicanos porque te gustaría trabajar con nosotros" style="background-color: #D9D9D9; resize: none;"></textarea>
            <p id="contador">0 / 3000</p>
          </div>
          <button type="submit" class="btn px-4" style="background-color: #FFB800; font-size: 20px; font-weight: 700;">Postular</button>
        </form>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container-fluid bg-dark text-white text-center py-4">
      <p class="mb-0">© Duoc UC - COLLAB.</p>
    </div>
  </footer>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  <script>
  const textarea = document.getElementById('textArea1');
  const contador = document.getElementById('contador');

  textarea.addEventListener('input', () => {
    contador.textContent = `${textarea.value.length} / ${textarea.maxLength}`;
  });
</script>
</body>
</html>